
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154978198-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-154978198-1');
</script>
<base href="http://www.ablevery.com/" target="_blank" />
<base href="http://ablevery.com/" target="_blank" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="코디네이터와 시각장애인이 함께하는 오프라인 쇼핑, ab:le(every)">
<meta name="author" content="ab:le(every)">

<!-- meta tag for face book link share -->
<meta property="og:title" content="ab:le(every)">
<meta property="og:description" content="코디네이터와 시각장애인이 함께하는 오프라인 쇼핑, ab:le(every)">
<meta property="og:image" content="../images/landingpage-01.jpg">
<meta property="og:image:type" content="image/jpg">

<!-- Google / Search Engine Tags / 구글 검색 엔진 -->
<meta itemprop="name" content="ab:le(에브리)">
<meta itemprop="description" content="코디네이터와 시각장애인이 함께하는 오프라인 쇼핑, ab:le(every)">
<meta itemprop="image" content="../images/landingpage-01.jpg">

<title>ablevery</title>

<!-- Favicon setting -->
<link rel="shortcut icon" href="../images/cl_ico.ico">
<link rel="icon" href="../images/cl_ico.ico">

<!-- Bootstrap core CSS and JS -->
<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
