<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container" id="navContainer">
    <a class="navbar-brand js-scroll-trigger" id="logImg" href="#page-top">
      <img src="./images/CI_Landing-01.png" width="40%"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" id="navbarMenuItems">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#review">REVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#use">USE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/codi">CODI PAGE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>