
<!-- <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto" >
      </div>
    </div>
  </div>
</section> 

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      </div>
    </div>
  </div>
</section> 

<section id="applicationForm">
  <div id="main_form_wrapper" style="display: none">
    <form role="form" action="#" method="POST" target="_self">
        <div class="form-group">
          <label for="input_name">이름</label>
          <input type="text" id="input_name" class="form-control" name="input_name" placeholder="이름을 입력하세요" />
        </div>
        <div class="form-group">
          <label for="input_place">장소</label>
          <input type="text" id="input_place" class="form-control" name="input_place" placeholder="장소를 선택하세요(예시)" />
        </div>
        <div class="form-group">
          <label for="input_date">날짜</label>
          <input type="text" id="input_date" class="form-control" name="input_date" placeholder="날짜를 선택하세요" />
        </div>
        <div class="form-group">
          <label for="input_with">함께하는 동행인 여부</label>
          <input type="text" id="input_with" class="form-control" name="input_with" placeholder="함께하는 동행인 여부" />
        </div>
        <div class="form-group">
          <label for="input_plan">계획 구매 품목</label>
          <input type="text" id="input_plan" class="form-control" name="input_plan" placeholder="계획 구매 품목" />
        </div>
        <div class="form-group">
          <label for="input_style">원하는 스타일</label>
          <input type="text" id="input_style" class="form-control" name="input_style" placeholder="원하는 스타일" />
        </div>
        <div class="form-group">
          <label for="input_brand">선호하는 브랜드</label>
          <input type="text" id="input_brand" class="form-control" name="input_style" placeholder="선호하는 브랜드" />
        </div>
        <div class="form-group">
          <label for="input_price">물품 예상 금액</label>
          <input type="text" id="input_price" class="form-control" name="input_price" placeholder="물품 예상 금액" />
        </div>
        <div class="form-group">
          <label for="input_info">기타 추가 정보</label>
        </div>
        <div class="form-group">
          <textarea id="input_info" class="form-control" name="input_info" placeholder="물품 목적, 본인이 가진 의류, 선호하는 질감 등"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" id="tasks_post_submit" class="form-control" /> <input type="reset" value="Reset" class="form-control" />
        </div>
    </form>
  </div>
</section> -->