
#logImg {
    width: 40%;
}

body > nav {
    /* background-color: black; */
}

body > header {
    background-color: blueviolet;
    /* background-image: url("../images/landing_page01.jpg"); */
    background-size: cover;
}

body > #about, #review, #use, #contact {
    padding: 0%;
}

#contact {
    text-align: center;
}
